header{
  font-size: 24pt;
  margin: 2em;
  text-align: center;
}

textarea{
  width: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.display-medication{
  text-align: left;
  background-color: aliceblue;
  border-radius: 2%;
  margin: 5%;
  margin-bottom: 0%;
  margin-top: 2%;
  padding: 2%;
}

.prescription-form{
  margin: 5%;
  margin-top: 0%;
}
